# Archivos compilados de Java
*.class
*.jar

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos temporales
*.tmp